## Preprocessing

In [61]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [62]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [63]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [64]:
# Look at APPLICATION_TYPE value counts for binning

s=application_df['APPLICATION_TYPE'].value_counts()
s

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [65]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=s[s<528].index
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
  application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
 
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [66]:
# Look at CLASSIFICATION value counts for binning
c=application_df['CLASSIFICATION'].value_counts()
c

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [67]:
# You may find it helpful to look at CLASSIFICATION value counts >1
c1=c[c>1]
c1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [68]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=c[c<1883].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [69]:

# a=application_df['ASK_AMT'].value_counts()
# a

In [70]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df=pd.get_dummies(application_df)

In [71]:
# Split our preprocessed data into our features and target arrays
y=application_df["IS_SUCCESSFUL"]
X=application_df.drop('IS_SUCCESSFUL', axis =1)

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split (X,y, random_state=9)

In [72]:
X_train.shape

(25724, 43)

In [73]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [74]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=43))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [78]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [79]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

In [80]:
top_hyper = tuner.get_best_hyperparameters(1)
for param in top_hyper:
    print(param.values)

{'activation': 'sigmoid', 'first_units': 7, 'num_layers': 4, 'units_0': 9, 'units_1': 1, 'units_2': 3, 'units_3': 3, 'units_4': 3, 'units_5': 7, 'tuner/epochs': 20, 'tuner/initial_epoch': 7, 'tuner/bracket': 1, 'tuner/round': 1, 'tuner/trial_id': '0014'}

In [85]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(200, input_dim=43, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(150, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(50, activation="tanh"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(20, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_45 (Dense)            (None, 200)               8800

 dense_46 (Dense)            (None, 150)               30150

 dense_47 (Dense)            (None, 50)                7550

 dense_48 (Dense)            (None, 20)                1020

 dense_49 (Dense)            (None, 1)                 21

=================================================================
Total params: 47,541
Trainable params: 47,541
Non-trainable params: 0
_________________________________________________________________

In [86]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics =["accuracy"])

In [87]:
# Train the model
fit_model=nn.fit(X_train_scaled,y_train, epochs =20,batch_size=30)

Epoch 1/20
858/858 [==============================] - 5s 4ms/step - loss: 0.5685 - accuracy: 0.7205
Epoch 2/20
858/858 [==============================] - 4s 5ms/step - loss: 0.5569 - accuracy: 0.7260
Epoch 3/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5538 - accuracy: 0.7280
Epoch 4/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5519 - accuracy: 0.7292
Epoch 5/20
858/858 [==============================] - 4s 5ms/step - loss: 0.5503 - accuracy: 0.7290
Epoch 6/20
858/858 [==============================] - 4s 4ms/step - loss: 0.5495 - accuracy: 0.7300
Epoch 7/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5482 - accuracy: 0.7317
Epoch 8/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5481 - accuracy: 0.7321
Epoch 9/20
858/858 [==============================] - 5s 5ms/step - loss: 0.5463 - accuracy: 0.7312
Epoch 10/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5463 - accuracy: 0.7316
Epoch 11/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5453 - accuracy: 0.7343
Epoch 12/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5452 - accuracy: 0.7330
Epoch 13/20
858/858 [==============================] - 4s 5ms/step - loss: 0.5445 - accuracy: 0.7315
Epoch 14/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5440 - accuracy: 0.7337
Epoch 15/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5434 - accuracy: 0.7330
Epoch 16/20
858/858 [==============================] - 4s 4ms/step - loss: 0.5428 - accuracy: 0.7347
Epoch 17/20
858/858 [==============================] - 4s 5ms/step - loss: 0.5423 - accuracy: 0.7354
Epoch 18/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5425 - accuracy: 0.7350
Epoch 19/20
858/858 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7354
Epoch 20/20
858/858 [==============================] - 4s 5ms/step - loss: 0.5415 - accuracy: 0.7346

In [88]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5490 - accuracy: 0.7354 - 565ms/epoch - 2ms/step
Loss: 0.5490406155586243, Accuracy: 0.7353935837745667

In [89]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')